{erl_opts, [debug_info]}.
{deps, [
        {cowboy, {git, "https://github.com/ninenines/cowboy", {tag, "2.1.0"}}},
        {uuid, {git, "https://github.com/okeuday/uuid", {tag, "v1.7.2"}}},
        {pooler, {git, "https://github.com/seth/pooler", {ref, "521f56"}}},
        {lz4, ".*", {git, "https://github.com/szktty/erlang-lz4.git", {tag, "0.2.4"}}},
        {cqerl, {git, "https://github.com/matehat/cqerl.git", {tag, "v1.0.5"}}}
        ]}.

{relx, [{release, {products_tracker_backend, "0.1.0"}, [ptracker]},
         {dev_mode, true},
         {include_erts, false},
         {extended_start_script, false},
         {sys_config, "conf/sys.config"}
         ]}.
